:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font_size: 1rem;
  
  --color_white: #ffffff;
  --color_gray: rgb(94, 94, 94);
  --active_color: #5d9913;
  --primary_color: #5d9913;
  --border_color:rgb(190, 190, 190);
}

#app {
  max-width: 100vw;
  background-color: #F4F4F4;
  overflow: hidden;
}

/* --------------color---------------- */
.white {
  color: var(--color_white);
}

.gray {
  color: var(--color_gray);
}

.primary {
  color: var(--primary_color);
}

.active {
  color: var(--active_color);
}

/* -----------------size---------------- */
.fs-0 {
  font-size: calc(40px + .5vw);
}
/* ----------------text---------------- */
a {
  text-decoration: none;
  font-size: var(--font_size);
  margin: 0;
  color: black;
  font-weight: 500;
  font-size: calc(.8rem + .5vw);
}
a:hover {
  color: var(--primary_color) !important;
}

p, b {
  color: black;
  font-size: var(--font_size);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  cursor: pointer;
  margin: 0;
}

/* --------------------icon + image---------------- */
i {
  font-size: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------button----------------------- */
button {
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #EFF4F8;
  border: 0;
  color: var(--primary_color);
  font-weight: 700;
  transition: all 0.3s ease;
  border: 1px solid var(--primary_color);
}

button:hover {
  color: white;
  background-image: linear-gradient(to right, rgb(35, 175, 77) , rgb(56, 228, 122));
}

.button-custom {
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #EFF4F8;
  border: 0;
  color: var(--primary_color);
  font-weight: 700;
  transition: all 0.3s ease;
  border: 1px solid var(--primary_color);
  width: max-content;
  font-size: 16px;
}

.button-custom:hover {
  color: white !important;
  background-image: linear-gradient(to right, rgb(35, 175, 77) , rgb(56, 228, 122));
}
